<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Task Details | TaskManager</title>
</head>
<body>
<header th:replace="header.html"></header>
<main>
    <h2 th:text="#{detail}"></h2>
    <div th:if="${task} != null" class="detailGrid">
        <table>
            <th th:text="#{mainTask}"</th>
            <th></th>
            <tr>
                <td><p th:text="#{title}"></p></td>
                <td><p th:text="${task.title}"></p></td>
            </tr>
            <tr>
                <td><p th:text="#{description}"></p></td>
                <td><p th:text="${task.description}"></p></td>
            </tr>
            <tr>
                <td><p th:text="#{date}"></p></td>
                <td><p th:text="${task.dueDateText}"></p></td>
            </tr>
        </table>
        <br>
        <div th:if="${subtasks} != null">
            <h3 th:text="#{subTasks}"></h3>
            <table th:each="subtask: ${subtasks}">
                <th th:text="${subtask.title}"></th>
                <th></th>
                <tr>
                    <td><p th:text="#{description}"></p></td>
                    <td><p th:text="${subtask.description}"></p></td>
                </tr>
            </table>
        </div>
        <div th:if="${subtasks} == null">
            <p th:text="#{noSubTasks}"></p>
        </div>
    </div>
    <div th:if="${task} == null">
        <p th:text="taskNotFound"></p>
    </div>
</main>
</body>
</html>
