<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Tasks | TaskManager</title>
</head>
<body>
<header th:replace="header.html"></header>
    <main>
        <h2 th:text="#{tasks}"></h2>
        <div th:if="${tasksList} != null">
            <ul th:each="task: ${tasksList}">
                <li th:text="${task}"></li>
            </ul>
        </div>
        <div th:if="${tasksList} == null">
            <p th:text="#{noTasks}"></p>
        </div>
    </main>
</body>
</html>
